
<!-- LinkedIn link breaks css -->

<!-- <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
<div class="badge-base LI-profile-badge" data-locale="de_DE" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="bode-jan" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://es.linkedin.com/in/bode-jan?trk=profile-badge">Jan Bode</a></div>
<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="bode-jan"><a class="LI-simple-link" href='https://es.linkedin.com/in/bode-jan?trk=profile-badge'>Jan</a></div> -->
<ul>
    <li>Student in Industrial Engineering and Management</li>
    <li>Based in Berlin and Barcelona</li>
    <li>28.03.1998</li>
    <li><a href="https://www.linkedin.com/in/bode-jan/">LinkedIn&nbsp;</a><i style="font-size:24px" class="fa">&#xf08c;</i></li>
    <li><a href= "mailto:jan.bode@me.com">jan.bode@me.com</a></li>
</ul>